<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APITesting">
  <test thread-count="5" name="SpaceXTests">
    <classes>
      <class name="com.test.spaceX.SpaceXTest"/>
    </classes>
  </test> <!-- SpaceXTests -->
</suite> <!-- APITesting -->
